In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDRegressor
from sklearn.metrics import r2_score , mean_squared_error

In [3]:
url = 'https://drive.google.com/file/d/1v-uxWEgTI0GDCOTZOX3shUMkTf1a_CL7/view?usp=sharing'
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
df = pd.read_csv(path)

In [4]:
df.head()

,Feature-1,Feature-2,Feature-3,Feature-4,Feature-5,Feature-6,Feature-7,Feature-8,Feature-9,Feature-10,Target
0,-1.580,1.0500,1.060,-0.440,0.451,-0.0348,0.643,0.2650,0.268,-0.851,84.7
1,-0.832,-0.8660,-1.340,0.138,1.180,0.7330,-1.410,0.1350,-0.088,-1.550,-211.0
2,-0.237,2.0900,-3.930,0.296,0.352,-0.5010,0.961,-0.0287,1.820,0.938,-96.9
3,-1.170,-1.1300,-1.090,1.120,0.312,0.1830,0.448,-0.8190,-1.010,-1.080,-152.0
4,0.260,-0.0273,0.925,-1.150,-1.390,0.0251,0.627,0.0950,-0.280,-0.848,-57.7

In [5]:
df.describe()

,Feature-1,Feature-2,Feature-3,Feature-4,Feature-5,Feature-6,Feature-7,Feature-8,Feature-9,Feature-10,Target
count,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000,90000.000000
mean,0.000979,0.004667,-0.001799,0.010889,-0.003583,-0.000144,-0.005320,-0.004313,-0.004774,0.001181,-0.514561
std,1.001620,0.994640,1.001201,0.998378,0.999458,0.996845,0.998903,1.002483,1.000408,1.001353,193.868576
min,-4.280000,-4.000000,-4.210000,-4.200000,-4.200000,-3.970000,-5.190000,-4.050000,-4.430000,-4.480000,-790.000000
25%,-0.676000,-0.665000,-0.678000,-0.656000,-0.677000,-0.673000,-0.676000,-0.682000,-0.680000,-0.678000,-131.000000
50%,0.002295,0.004175,-0.003510,0.007945,0.000272,0.001840,-0.003535,-0.000602,-0.006185,0.002725,0.164500
75%,0.674000,0.674000,0.676000,0.685000,0.673000,0.673000,0.666000,0.672000,0.667000,0.676000,130.000000
max,4.100000,4.190000,4.380000,4.380000,4.730000,4.440000,4.600000,4.280000,4.190000,4.260000,810.000000

In [6]:
features=df.columns[:-1]
target=df.columns[-1]

In [7]:
X=df[features]
y=df[target]

In [8]:
X_train , X_test , y_train, y_test = train_test_split(X,y,
                                                          random_state=10, test_size=0.3)

In [9]:
reg=SGDRegressor(random_state=10)

In [10]:
X_train.shape

(63000, 10)

In [11]:
c=0
i=0
f = open("logreg.txt", "w")
for q in range(int(X_train.shape[0]/90)):
    temp_X=X_train[c:c+90]
    temp_y=y_train[c:c+90]
    reg.partial_fit(temp_X,temp_y)
    # print('For the itreation',i+1,' Intercept\t',reg.intercept_,'\nCofficient ',reg.coef_)
    print('For the itreation',i+1,' Intercept\t',reg.intercept_,'\nCofficient ',reg.coef_,file=f)
    c+=90
    i+=1
f.close()

In [12]:
c

63000

In [13]:
print('Intercept\t',reg.intercept_,'\nCofficient ',reg.coef_)

Intercept	 [-0.0054532]
Cofficient  [51.3212522  22.26535893 81.23762868 53.19615839 76.46565732 71.47204651
 93.45092409 51.92198178 30.03910055 40.95656774]

In [14]:
for i,j in zip(X_test.columns,reg.coef_):
    print('Score of ',i,'\tscore\t',j)

Score of  Feature-1 	score	 51.321252202404324
Score of  Feature-2 	score	 22.265358927203536
Score of  Feature-3 	score	 81.2376286796651
Score of  Feature-4 	score	 53.19615838585807
Score of  Feature-5 	score	 76.46565731934268
Score of  Feature-6 	score	 71.47204651461398
Score of  Feature-7 	score	 93.4509240886525
Score of  Feature-8 	score	 51.92198177723062
Score of  Feature-9 	score	 30.039100547136528
Score of  Feature-10 	score	 40.95656773978229

In [15]:
r2_score(y_test,reg.predict(X_test))

0.9999919793766233

In [16]:
reg.score(X_test,y_test)

0.9999919793766233