<a href="https://colab.research.google.com/github/ariso-sac/blogApp/blob/main/Week_2_Pipeline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.preprocessing import StandardScaler, OrdinalEncoder
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.feature_selection import VarianceThreshold

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [ ]:
num_pipeline = Pipeline([('selector',ColumnTransformer([('select_first_4',
'passthrough',
slice(0,4))])),
('imputer', SimpleImputer(strategy="mean")),
('std_scaler', StandardScaler()),
])

In [ ]:
cat_pipeline = ColumnTransformer([('encoder', OrdinalEncoder(),[4]),
])

In [ ]:
preprocessor = FeatureUnion(transformer_list=
[("num_pipeline", num_pipeline),
("cat_pipeline", cat_pipeline),
])

In [ ]:
pipe = Pipeline([
    ('preprocessor', preprocessor),
    ('feature_selection', VarianceThreshold(threshold=0.1))
])

In [ ]:
# from sklearn import set_config
# set_config(display='diagram')
# # displays HTML representation in a jupyter context
# pipe

In [ ]:
df=pd.read_csv('data.csv')

In [ ]:
df.head()

    V1    V2       V3    V4        V5 Target
0  2.0  50.0  12500.0  98.0  NEGATIVE    YES
1  0.0  13.0   3250.0  28.0  NEGATIVE    YES
2  NaN   NaN   4000.0  35.0  NEGATIVE    YES
3  NaN  20.0   5000.0  45.0  NEGATIVE    YES
4  1.0  24.0   6000.0  77.0  NEGATIVE     NO

In [ ]:
features=df.columns[:-1]
target=df.columns[-1]

In [ ]:
f=df[features]
t=df[target]

In [ ]:
pipe.fit(f)

Pipeline(steps=[('preprocessor',
                 FeatureUnion(transformer_list=[('num_pipeline',
                                                 Pipeline(steps=[('selector',
                                                                  ColumnTransformer(transformers=[('select_first_4',
                                                                                                   'passthrough',
                                                                                                   slice(0, 4, None))])),
                                                                 ('imputer',
                                                                  SimpleImputer()),
                                                                 ('std_scaler',
                                                                  StandardScaler())])),
                                                ('cat_pipeline',
                                                 ColumnTransformer(transformers=[('encoder',
                                                                                  OrdinalEncoder(),
                                                                                  [4])]))])),
                ('feature_selection', VarianceThreshold(threshold=0.1))])

In [ ]:
# display(X_train)
# display(pd.DataFrame(preprocessor.transform(X_train), columns=columns))

In [ ]:
f.head()

    V1    V2       V3    V4        V5
0  2.0  50.0  12500.0  98.0  NEGATIVE
1  0.0  13.0   3250.0  28.0  NEGATIVE
2  NaN   NaN   4000.0  35.0  NEGATIVE
3  NaN  20.0   5000.0  45.0  NEGATIVE
4  1.0  24.0   6000.0  77.0  NEGATIVE

In [ ]:
p=pd.DataFrame(preprocessor.transform(f), columns=features)
p

           V1            V2        V3        V4   V5
0   -0.938169  7.709867e+00  7.623346  2.615633  0.0
1   -1.186278  1.304549e+00  1.282738 -0.257881  0.0
2    0.000000 -1.537585e-16  1.796842  0.029471  0.0
3    0.000000  2.516366e+00  2.482313  0.439973  0.0
4   -1.062223  3.208833e+00  3.167784  1.753579  0.0
..        ...           ...       ...       ...  ...
743  1.666966 -5.997340e-01 -0.602307  0.152621  0.0
744  1.418858 -5.997340e-01 -0.602307  0.727324  0.0
745  1.666966 -4.266173e-01 -0.430940  1.137826  0.0
746  3.651831 -7.728506e-01 -0.773675  0.193671  0.0
747  7.745616 -7.728506e-01 -0.773675  1.548328  0.0

[748 rows x 5 columns]

In [ ]:
k=pipe.transform(f)

array([-0.93816939,  7.70986653,  7.62334626,  2.61563344])

Find the Features that are selected

In [ ]:
a=[]
i=0
for x in p:
  # print(p[x][0])
  if k[0][i]==p[x][0]:
    a.append(x)
    i+=1
    if i==len(k[0]):
      break
a

['V1', 'V2', 'V3', 'V4']

In [ ]:
final=pd.DataFrame(pipe.transform(f), columns=a)
final

           V1            V2        V3        V4
0   -0.938169  7.709867e+00  7.623346  2.615633
1   -1.186278  1.304549e+00  1.282738 -0.257881
2    0.000000 -1.537585e-16  1.796842  0.029471
3    0.000000  2.516366e+00  2.482313  0.439973
4   -1.062223  3.208833e+00  3.167784  1.753579
..        ...           ...       ...       ...
743  1.666966 -5.997340e-01 -0.602307  0.152621
744  1.418858 -5.997340e-01 -0.602307  0.727324
745  1.666966 -4.266173e-01 -0.430940  1.137826
746  3.651831 -7.728506e-01 -0.773675  0.193671
747  7.745616 -7.728506e-01 -0.773675  1.548328

[748 rows x 4 columns]