In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

In [3]:
url = 'https://drive.google.com/file/d/1qUa1GlG4X4ZY_4E0e7jPR-z7AG7NIDbE/view?usp=sharing'
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
df = pd.read_csv(path)

In [4]:
df.tail()

     Age  EstimatedSalary  Purchased
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              400 non-null    int64
 1   EstimatedSalary  400 non-null    int64
 2   Purchased        400 non-null    int64
dtypes: int64(3)
memory usage: 9.5 KB

In [6]:
df.describe()

              Age  EstimatedSalary   Purchased
count  400.000000       400.000000  400.000000
mean    37.655000     69742.500000    0.357500
std     10.482877     34096.960282    0.479864
min     18.000000     15000.000000    0.000000
25%     29.750000     43000.000000    0.000000
50%     37.000000     70000.000000    0.000000
75%     46.000000     88000.000000    1.000000
max     60.000000    150000.000000    1.000000

In [7]:
featues=df.columns[:-1]
target=df.columns[-1]

In [8]:
X=df[featues]
y=df[target]

In [9]:
X_train , X_test , y_train, y_test = train_test_split(X,y,random_state=0,
                                                           test_size=0.25)

In [10]:
std=StandardScaler().fit(X_train)

In [11]:
X_train=std.transform(X_train)

In [12]:
X_test=std.transform(X_test)

In [13]:
clf=SVC(kernel='linear',random_state=0)

In [14]:
clf.fit(X_train,y_train)

SVC(kernel='linear', random_state=0)

In [15]:
clf.score(X_train,y_train)

0.8233333333333334

In [16]:
clf.score(X_test,y_test)

0.9

In [17]:
y_pred=clf.predict(X_test)
accuracy_score(y_test,y_pred)

0.9

In [18]:
confusion_matrix(y_test, y_pred)

array([[66,  2],
       [ 8, 24]])