# Importing Packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, LabelEncoder, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.naive_bayes import GaussianNB, BernoulliNB, CategoricalNB,ComplementNB,MultinomialNB
from sklearn.tree import DecisionTreeClassifier,ExtraTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import AdaBoostClassifier,BaggingClassifier,GradientBoostingClassifier,RandomForestClassifier,HistGradientBoostingClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis,QuadraticDiscriminantAnalysis
from sklearn.svm import LinearSVC, SVC, NuSVC
from sklearn.linear_model import RidgeClassifier, LogisticRegression, Perceptron
from sklearn.neighbors import KNeighborsClassifier

In [2]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import PolynomialFeatures

# Load and Seprate Target

In [3]:
df=pd.read_csv('train1.csv')
features=df.columns[:-1]
target=df.columns[-1]
X=df[features]
y=df[target]

In [4]:
# lb=LabelEncoder().fit(y)
# y=lb.transform(y)
# l=X.columns.to_list()
# order=['offer_expiration(hrs)','age','income_range','temperature','travel_time']
# for i in order:
#     l.remove(i)

In [5]:
lb=LabelEncoder().fit(y)
y=lb.transform(y)
l=X.columns.to_list()
order=['offer_expiration(hrs)','age','income_range','temperature','travel_time',
       'restuarant_same_direction_house','western/chinese','children','cooks_regularly',
       'prefer_home_food','visit_restaurant_with_rating_(avg)',
       'visited_ColdDrinks','travelled_more_than_15_mins','resturant_spend_more_than_20',
       'travel_more_than_25_mins','travel_more_than_5_mins','number_visted_bars',
       'number_of_take_aways','restuarant_same_opposite_house',
       'restaurant_spend_greater_than_20','is_foodie'
      ]
for i in order:
    l.remove(i)

# Feature Engineering

In [6]:
X=pd.get_dummies(data=X,columns=l)

In [7]:
X.tail()

,offer_expiration(hrs),income_range,visited_ColdDrinks,travelled_more_than_15_mins,resturant_spend_more_than_20,age,western/chinese,travel_more_than_25_mins,travel_more_than_5_mins,number_visted_bars,...,industry_Sales & Related,industry_Student,industry_Transportation & Material Moving,industry_Unemployed,climate_Spring,climate_Summer,climate_Winter,drop_location_Location A,drop_location_Location B,drop_location_Location C
12374,10,31249.5,1,1,10,52,0,0,1,0,...,1,0,0,0,0,1,0,0,1,0
12375,48,31249.5,6,0,0,21,0,0,1,2,...,0,0,0,0,0,1,0,0,1,0
12376,10,93749.5,6,1,10,31,0,1,1,2,...,0,0,0,0,1,0,0,0,1,0
12377,10,18749.5,6,1,1,26,0,0,1,0,...,0,1,0,0,0,1,0,0,0,1
12378,48,43749.5,2,1,1,18,1,0,1,1,...,0,0,0,0,1,0,0,1,0,0

In [8]:
enc=OrdinalEncoder()
ord=enc.fit(X)
temp=ord.transform(X)

In [9]:
X=pd.DataFrame(data=temp,columns=X.columns)
X.tail()

,offer_expiration(hrs),income_range,visited_ColdDrinks,travelled_more_than_15_mins,resturant_spend_more_than_20,age,western/chinese,travel_more_than_25_mins,travel_more_than_5_mins,number_visted_bars,...,industry_Sales & Related,industry_Student,industry_Transportation & Material Moving,industry_Unemployed,climate_Spring,climate_Summer,climate_Winter,drop_location_Location A,drop_location_Location B,drop_location_Location C
12374,0.0,2.0,1.0,1.0,4.0,7.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
12375,1.0,2.0,3.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
12376,0.0,7.0,3.0,1.0,4.0,3.0,0.0,1.0,0.0,2.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
12377,0.0,1.0,3.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
12378,1.0,3.0,2.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

# Train Test Split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(
     X, y, 
    test_size=0.20,
    random_state=42,
    shuffle=True
)

# Linear Classifiers

In [11]:
classifers=[RidgeClassifier(), LogisticRegression(max_iter=1000), Perceptron()]

In [12]:
for clf in classifers:
    clf.fit(X_train,y_train)
    print('####',clf,'######')
    print('Emperical/Training Error',clf.score(X_train,y_train))
    print('Genrealisation/Test Error',clf.score(X_test,y_test))
    scores = cross_val_score(clf, X, y, cv=5,scoring='f1_macro',n_jobs=-1)
    print("Accuracy of %0.3f \n with a \n Standard Deviation of %0.3f" % (scores.mean(), scores.std()))

#### RidgeClassifier() ######
Emperical/Training Error 0.617489649601131
Genrealisation/Test Error 0.6070274636510501
Accuracy of 0.579
 with a
 Standard Deviation of 0.009
#### LogisticRegression(max_iter=1000) ######
Emperical/Training Error 0.6170857315964859
Genrealisation/Test Error 0.6078352180936996
Accuracy of 0.580
 with a
 Standard Deviation of 0.008
#### Perceptron() ######
Emperical/Training Error 0.5782086236493992
Genrealisation/Test Error 0.5678513731825525
Accuracy of 0.482
 with a
 Standard Deviation of 0.059

# Naive Bayes

In [13]:
classifers=[GaussianNB(), BernoulliNB(), CategoricalNB(),ComplementNB(),MultinomialNB()]

In [14]:
for clf in classifers:
    clf.fit(X_train,y_train)
    print('####',clf,'######')
    print('Emperical/Training Error',clf.score(X_train,y_train))
    print('Genrealisation/Test Error',clf.score(X_test,y_test))
    scores = cross_val_score(clf, X, y, cv=5, scoring='f1_macro', n_jobs=-1)
    print("Accuracy of %0.3f \n with a \n Standard Deviation of %0.3f" % (scores.mean(), scores.std()))

#### GaussianNB() ######
Emperical/Training Error 0.5742704231041099
Genrealisation/Test Error 0.567043618739903
Accuracy of 0.560
 with a
 Standard Deviation of 0.009
#### BernoulliNB() ######
Emperical/Training Error 0.6132485105523579
Genrealisation/Test Error 0.5932956381260097
Accuracy of 0.584
 with a
 Standard Deviation of 0.009
#### CategoricalNB() ######
Emperical/Training Error 0.6148641825709381
Genrealisation/Test Error 0.5981421647819063
Accuracy of 0.591
 with a
 Standard Deviation of 0.009
#### ComplementNB() ######
Emperical/Training Error 0.5936584873270726
Genrealisation/Test Error 0.5864297253634895
Accuracy of 0.585
 with a
 Standard Deviation of 0.005
#### MultinomialNB() ######
Emperical/Training Error 0.6054730889629405
Genrealisation/Test Error 0.5880452342487884
Accuracy of 0.576
 with a
 Standard Deviation of 0.005

# Tree Methods

In [15]:
classifers=[DecisionTreeClassifier(),ExtraTreeClassifier()]

In [16]:
for clf in classifers:
    clf.fit(X_train,y_train)
    print('####',clf,'######')
    print('Emperical/Training Error',clf.score(X_train,y_train))
    print('Genrealisation/Test Error',clf.score(X_test,y_test))
    scores = cross_val_score(clf, X, y, cv=5, scoring='f1_macro', n_jobs=-1)
    print("Accuracy of %0.3f \n with a \n Standard Deviation of %0.3f" % (scores.mean(), scores.std()))

#### DecisionTreeClassifier() ######
Emperical/Training Error 1.0
Genrealisation/Test Error 0.5424071082390953
Accuracy of 0.547
 with a
 Standard Deviation of 0.011
#### ExtraTreeClassifier() ######
Emperical/Training Error 1.0
Genrealisation/Test Error 0.5420032310177706
Accuracy of 0.534
 with a
 Standard Deviation of 0.008

# Ensemble Classifiers

In [17]:
classifers=[AdaBoostClassifier(),BaggingClassifier(),
            GradientBoostingClassifier(),RandomForestClassifier(),
            HistGradientBoostingClassifier()]

In [18]:
for clf in classifers:
    clf.fit(X_train,y_train)
    print('####',clf,'######')
    print('Emperical/Training Error',clf.score(X_train,y_train))
    print('Genrealisation/Test Error',clf.score(X_test,y_test))
    scores = cross_val_score(clf, X, y, cv=5, scoring='f1_macro', n_jobs=-1)
    print("Accuracy of %0.3f \n with a \n Standard Deviation of %0.3f" % (scores.mean(), scores.std()))

#### AdaBoostClassifier() ######
Emperical/Training Error 0.6249621326870646
Genrealisation/Test Error 0.6042003231017771
Accuracy of 0.586
 with a
 Standard Deviation of 0.007
#### BaggingClassifier() ######
Emperical/Training Error 0.9865697263455518
Genrealisation/Test Error 0.5945072697899838
Accuracy of 0.576
 with a
 Standard Deviation of 0.004
#### GradientBoostingClassifier() ######
Emperical/Training Error 0.6638392406341512
Genrealisation/Test Error 0.6284329563812601
Accuracy of 0.601
 with a
 Standard Deviation of 0.010
#### RandomForestClassifier() ######
Emperical/Training Error 1.0
Genrealisation/Test Error 0.6187399030694669
Accuracy of 0.599
 with a
 Standard Deviation of 0.006
#### HistGradientBoostingClassifier() ######
Emperical/Training Error 0.7832979905079269
Genrealisation/Test Error 0.6231825525040388
Accuracy of 0.609
 with a
 Standard Deviation of 0.006

# KNN and Discriminant Analysis

In [19]:
classifers=[
    # MLPClassifier(max_iter=10000),
            KNeighborsClassifier(),LinearDiscriminantAnalysis(),QuadraticDiscriminantAnalysis()]

In [20]:
for clf in classifers:
    clf.fit(X_train,y_train)
    print('####',clf,'######')
    print('Emperical/Training Error',clf.score(X_train,y_train))
    print('Genrealisation/Test Error',clf.score(X_test,y_test))
    scores = cross_val_score(clf, X, y, cv=5, scoring='f1_macro', n_jobs=-1)
    print("Accuracy of %0.3f \n with a \n Standard Deviation of %0.3f" % (scores.mean(), scores.std()))

#### KNeighborsClassifier() ######
Emperical/Training Error 0.7302837523982632
Genrealisation/Test Error 0.5840064620355412
Accuracy of 0.563
 with a
 Standard Deviation of 0.006
#### LinearDiscriminantAnalysis() ######
Emperical/Training Error 0.6164798545895184
Genrealisation/Test Error 0.6082390953150242
Accuracy of 0.580
 with a
 Standard Deviation of 0.009
#### QuadraticDiscriminantAnalysis() ######
Emperical/Training Error 0.5356962536605069
Genrealisation/Test Error 0.5319063004846527

/home/abhinav/py/lib/python3.8/site-packages/sklearn/discriminant_analysis.py:887: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")

Accuracy of 0.498
 with a
 Standard Deviation of 0.016

# SVC Classifiers

In [21]:
classifers=[LinearSVC(max_iter=100000),SVC(),NuSVC()]

In [22]:
for clf in classifers:
    clf.fit(X_train,y_train)
    print('####',clf,'######')
    print('Emperical/Training Error',clf.score(X_train,y_train))
    print('Genrealisation/Test Error',clf.score(X_test,y_test))
    scores = cross_val_score(clf, X, y, cv=5, scoring='f1_macro', n_jobs=-1)
    print("Accuracy of %0.3f \n with a \n Standard Deviation of %0.3f" % (scores.mean(), scores.std()))

#### LinearSVC(max_iter=100000) ######
Emperical/Training Error 0.617489649601131
Genrealisation/Test Error 0.6066235864297254
Accuracy of 0.580
 with a
 Standard Deviation of 0.009
#### SVC() ######
Emperical/Training Error 0.6612137736039584
Genrealisation/Test Error 0.6215670436187399
Accuracy of 0.583
 with a
 Standard Deviation of 0.009
#### NuSVC() ######
Emperical/Training Error 0.9387054427951126
Genrealisation/Test Error 0.5941033925686591
Accuracy of 0.585
 with a
 Standard Deviation of 0.011

In [23]:
classifers=[
    MLPClassifier(max_iter=10000)]

In [24]:
for clf in classifers:
    clf.fit(X_train,y_train)
    print('####',clf,'######')
    print('Emperical/Training Error',clf.score(X_train,y_train))
    print('Genrealisation/Test Error',clf.score(X_test,y_test))
    scores = cross_val_score(clf, X, y, cv=5, scoring='f1_macro', n_jobs=-1)
    print("Accuracy of %0.3f \n with a \n Standard Deviation of %0.3f" % (scores.mean(), scores.std()))

#### MLPClassifier(max_iter=10000) ######
Emperical/Training Error 0.9489043724124003
Genrealisation/Test Error 0.5706785137318255
Accuracy of 0.566
 with a
 Standard Deviation of 0.004